<main class="container mt-5">
  <h1>Shopping cart</h1>
  <ol class="breadcrumb mb-3">
<li class="breadcrumb-item">
  <LinkTo @route="index">Home</LinkTo>
</li>
<li class="breadcrumb-item">
  Shopping cart
</li>
</ol>
{{#each this.cartService.itemList as |item|}}
  <div class="cart-item d-flex align-items-center">
    <div class="cart-item-thumbnail mt-3">
      <img src={{item.download_url}} alt={{item.download_url}}>
    </div>
    <div class="ml-3">
      <h4>{{item.author}}</h4>
      <i class="font-weight-bold">{{ currency item.price}}</i>
    </div>
    <div class="action-btn">
      <label for="#count">Count</label>
    <input
    id="count"
    type="number"
    class="ml-auto"
    value={{item.count}}
    {{on "input" (fn this.updateItemCount item)}}
    >
    <label for="#size">Count</label>
    <select value={{item.size}} id="size" {{on "input" (fn this.updatePriceBySize item)}}>
       <option value="small"> Small </option>
       <option value="medium"> Medium </option>
       <option value="large"> Large </option>
       <option value="x-large"> X-Large </option>
   </select>
    </div>
  </div>
{{/each}}

  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <span class="col">Subtotal</span>
      <span class="col">{{ currency this.subtotal }}</span>
    </div>
    <div class="row">
      <span class="col">Tax</span>
      <span class="col">{{ currency this.tax}}<</span>
    </div>
    <div class="row">
      <span class="col">Total</span>
      <span class="col">{{currency this.total}}<</span>
    </div>
  </section>
    <button class="btn btn-success float-right" type="button">
      Checkout
    </button>
</main>
